body {
  background-color: rgb(33, 38, 109);
}

#keyboardstyle {
  font-size: 25px;
  font-weight: 500;
}

#keyboardstyle :hover {
  font-weight: 900;
  border-color: greenyellow  !important;
  text-shadow: 1px 1px 6px  hotpink;
}

.keyclicked {
  font-weight: 900;
  border-color: greenyellow  !important;
  text-shadow: 1px 1px 6px  hotpink;
}

#calculations {
  height: 238px;
  overflow-y: scroll;
}


.App {
  background-color: rgb(33, 38, 109);
}

.container-panel {
    overflow-y: scroll;
    height:300px;
}

h5 {
  height:30px;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
